// Utilities CSS

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.btn {
    color: white;
    background-color: #0282F9;
    font-weight: 600;
    border: 2px solid #0282F9;
}

.position-relative {
    position: relative
}